<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzs.dao.bigstylecraft.BigStyleAnalyseMasterPictureDao">
    <insert id="insertPicForeach" parameterType="java.util.List">
        insert into big_style_analyse_master_picture
        (pic_url,style_random_code,ct_style_code)
        values
        <foreach collection="picList" item="skc" separator=",">
            (#{skc.picUrl},#{skc.styleRandomCode},#{skc.ctStyleCode})
        </foreach>
    </insert>
    <delete id="deleteByStyleRandomCode" parameterType="java.lang.Long">
        delete from big_style_analyse_master_picture where style_random_code = #{0}
    </delete>
    <delete id="deleteByID">
        delete from big_style_analyse_master_picture where id = #{id}
    </delete>
    <select id="getUrlByStyleRandomCode" resultType="java.lang.String" parameterType="java.lang.Long">
      select pic_url from big_style_analyse_master_picture where style_random_code = #{0}
    </select>
    <select id="getDataByStyleRandomCode" resultType="com.ylzs.entity.bigstylecraft.BigStyleAnalyseMasterPicture">
      select pic_url,id,style_random_code from big_style_analyse_master_picture where style_random_code = #{styleRandomCode}
    </select>
</mapper>