<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzs.dao.system.NotifyUserDao">
    <resultMap id="NotifyUserResult" type="NotifyUser">
        <result column="id" property="id"/>
        <result column="craft_category_id" property="craftCategoryId"/>
        <result column="user_code" property="userCode"/>
        <result column="msg_type" property="msgType"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getNotifyUserById" resultMap="NotifyUserResult">
        select * from notify_user where id=#{id}
    </select>

    <select id="getNotifyUserByPage" resultMap="NotifyUserResult">
        select a.* from notify_user a where 1=1
        <if test="craftCategoryId != null">
            and a.craft_category_id=#{craftCategoryId}
        </if>
        <if test="msgType != null">
            and a.msg_type=#{msgType}
        </if>
        <if test="beginDate != null">
            <![CDATA[   and DATE_FORMAT(a.update_time, '%Y-%m-%d')>=DATE_FORMAT(#{beginDate}, '%Y-%m-%d')   ]]>
        </if>
        <if test="endDate != null">
            <![CDATA[   and DATE_FORMAT(a.update_time, '%Y-%m-%d')<=DATE_FORMAT(#{endDate}, '%Y-%m-%d')   ]]>
        </if>
        <if test="keywords!=null and keywords!=''">
            and 1=1
        </if>
        <if test="craftStdId != null ">
            and a.craft_category_id in (select craft_category_id from craft_std_part where craft_std_id=#{craftStdId})
        </if>
    </select>

    <insert id="addNotifyUser" parameterType="NotifyUser" useGeneratedKeys="true" keyProperty="id">
        insert IGNORE into notify_user(craft_category_id,user_code,msg_type,update_user,update_time)
        values (#{craftCategoryId},#{userCode},#{msgType},#{updateUser},#{updateTime})
    </insert>


    <insert id="addNotifyUsers" parameterType="java.util.List" useGeneratedKeys="false">
        insert into notify_user(craft_category_id,user_code,msg_type,update_user,update_time)
        values
        <foreach collection="notifyUsers" item="itm" index="index" separator=",">
            (
                #{itm.craftCategoryId},
                #{itm.userCode},
                #{itm.msgType},
                #{itm.updateUser},
                #{itm.updateTime}
            )
        </foreach>
    </insert>


    <update id="updateNotifyUser" parameterType="NotifyUser">
        update notify_user
        <set>
            <if test="craftCategoryId != null">
                craft_category_id=#{craftCategoryId},
            </if>
            <if test="userCode != null">
                user_code=#{userCode},
            </if>
            <if test="msgType != null">
                msg_type=#{msgType},
            </if>
            <if test="updateUser != null">
                update_time=#{updateTime},
            </if>
            <if test="updateUser != null">
                update_user=#{updateUser},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteNotifyUser" parameterType="integer">
        delete from notify_user where id=#{id}
    </delete>

</mapper>