<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzs.dao.sewingcraft.SewingCraftActionDao">
    <resultMap type="SewingCraftAction" id="SewingCraftActionResult" >

        <result column="sewing_craft_random_code" property="sewingCraftRandomCode"/>
        <result column="order_num" property="orderNum"/>
        <result column="motion_code" property="motionCode"/>
        <result column="motion_name" property="motionName"/>
        <result column="frequency" property="frequency"/>
        <result column="description" property="description"/>
        <result column="speed" property="speed"/>
        <result column="machine_time" property="machineTime"/>
        <result column="manual_time" property="manualTime"/>
        <result column="manual_time_base" property="manualTimeBase"/>
        <result column="machine_time_base" property="machineTimeBase"/>
        <result column="mark" property="mark"/>
        <result column="is_calculate" property="isCalculate"/>
        <!-- 公共部分-->
       <!-- <result column="id" property="id"/>
        <result column="audit_user" property="auditUser"/>
        <result column="audit_time" property="auditTime"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
        <result column="is_invalid" property="isInvalid"/>
        <result column="randomCode" property="random_code"/>-->
    </resultMap>
    <insert id="addSewingCraftAction" parameterType="java.util.List">
        insert into sewing_craft_warehouse_motion
         (is_calculate,mark,manual_time_base,machine_time_base,sewing_craft_random_code,motion_code,motion_name,frequency,description,speed,machine_time,manual_time)
         values
        <foreach collection="motions" separator="," item="mo_">
            (#{mo_.isCalculate},#{mo_.mark},#{mo_.manualTimeBase},#{mo_.machineTimeBase},#{mo_.sewingCraftRandomCode},#{mo_.motionCode},#{mo_.motionName},#{mo_.frequency},#{mo_.description},#{mo_.speed},#{mo_.machineTime},#{mo_.manualTime})
        </foreach>
    </insert>
    <select id="getDataBySewingCraftRandomCode" parameterType="java.lang.Long" resultMap="SewingCraftActionResult">
        select  * from sewing_craft_warehouse_motion where sewing_craft_random_code = #{0}
    </select>
    <select id="getDataBySewingCraftCode" parameterType="java.lang.String" resultMap="SewingCraftActionResult">
         select  motion.* from sewing_craft_warehouse_motion as motion
        LEFT JOIN sewing_craft_warehouse sew on sew.random_code=motion.sewing_craft_random_code
        where sew.craft_code=#{0}
    </select>
    <update id="updateSewingCraftAction" parameterType="hashmap">
        update sewing_craft_warehouse_motion set manual_time_base=#{manualTimeBase},machine_time_base=#{machineTimeBase},mark=#{mark},is_calculate=#{isCalculate},
        motion_code=#{motionCode},motion_name=#{motionName},frequency=#{frequency}, description=#{description}, speed=#{speed}, machine_time=#{machineTime},manual_time=#{manualTime}
        where sewing_craft_random_code = #{sewingCraftRandomCode}
    </update>
    <delete id="deleteDataBySewingCraftRandomCode" parameterType="java.lang.Long">
        delete from sewing_craft_warehouse_motion where sewing_craft_random_code = #{0}
    </delete>

    <select id="getZCodeList" resultMap="SewingCraftActionResult">
           SELECT * from sewing_craft_warehouse_motion where manual_time_base is null and motion_code not like 'M%'and motion_code not like 'Z%' and frequency =0
    </select>

    <select id="listSewingCraftAction" resultType="com.ylzs.entity.sewingcraft.SewingCraftAction">
        select  * from sewing_craft_warehouse_motion
        <where>
            sewing_craft_random_code in
            <foreach collection="sewRandomCodes" open="(" close=")" separator="," item="code">
                #{code}
            </foreach>
        </where>
    </select>

    <update id="updateTime" >
        update sewing_craft_warehouse_motion set manual_time = #{manualTime} where id = #{id}
    </update>

    <update id="updateBaseTime" >
        update sewing_craft_warehouse_motion set manual_time_base = #{manualTime} where id = #{id}
    </update>
</mapper>