<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzs.dao.craftmainframe.CraftMainFrameRouteDao">
    <resultMap id="BaseResultMap" type="CraftMainFrameRoute">
        <!--@mbg.generated-->
        <id column="random_code" property="randomCode"/>
        <result column="id" property="id"/>
        <result column="main_frame_random_code" property="mainFrameRandomCode"/>
        <result column="production_part_random_code" property="productionPartRandomCode"/>
        <result column="next_production_part_random_code" property="nextProductionPartRandomCode"/>
        <result column="production_part_code" property="productionPartCode"/>
        <result column="production_part_name" property="productionPartName"/>
        <result column="next_production_part_code" property="nextProductionPartCode"/>
        <result column="next_production_part_name" property="nextProductionPartName"/>
        <result column="status" property="status"/>
        <result column="is_invalid" property="isInvalid"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="audit_user" property="auditUser"/>
        <result column="audit_time" property="auditTime"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        random_code, id, main_frame_random_code, production_part_random_code, next_production_part_random_code,
        production_part_code, production_part_name, next_production_part_code, next_production_part_name,
        `status`, is_invalid, create_user, create_time, update_user, update_time, audit_user,
        audit_time, version
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from craft_main_frame_route
        where random_code = #{randomCode}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from craft_main_frame_route
        where random_code = #{randomCode}
    </delete>

    <insert id="insert" parameterType="CraftMainFrameRoute">
        <!--@mbg.generated-->
        insert into craft_main_frame_route (random_code, main_frame_random_code, production_part_random_code,
        next_production_part_random_code, production_part_code, production_part_name,
        next_production_part_code, next_production_part_name, `status`, is_invalid,
        create_user, create_time, update_user, update_time, audit_user, audit_time,
        version)
        values (#{randomCode}, #{mainFrameRandomCode}, #{productionPartRandomCode},
        #{nextProductionPartRandomCode}, #{productionPartCode}, #{productionPartName},
        #{nextProductionPartCode}, #{nextProductionPartName}, #{status}, #{isInvalid},
        #{createUser}, #{createTime}, #{updateUser}, #{updateTime}, #{auditUser}, #{auditTime},
        #{version})
    </insert>
    <insert id="insertSelective" parameterType="CraftMainFrameRoute">
        <!--@mbg.generated-->
        insert into craft_main_frame_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="randomCode != null">
                random_code,
            </if>
            <if test="mainFrameRandomCode != null">
                main_frame_random_code,
            </if>
            <if test="productionPartRandomCode != null">
                production_part_random_code,
            </if>
            <if test="nextProductionPartRandomCode != null">
                next_production_part_random_code,
            </if>
            <if test="productionPartCode != null">
                production_part_code,
            </if>
            <if test="productionPartName != null">
                production_part_name,
            </if>
            <if test="nextProductionPartCode != null">
                next_production_part_code,
            </if>
            <if test="nextProductionPartName != null">
                next_production_part_name,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="isInvalid != null">
                is_invalid,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="auditUser != null">
                audit_user,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="randomCode != null">
                #{randomCode},
            </if>
            <if test="mainFrameRandomCode != null">
                #{mainFrameRandomCode},
            </if>
            <if test="productionPartRandomCode != null">
                #{productionPartRandomCode},
            </if>
            <if test="nextProductionPartRandomCode != null">
                #{nextProductionPartRandomCode},
            </if>
            <if test="productionPartCode != null">
                #{productionPartCode},
            </if>
            <if test="productionPartName != null">
                #{productionPartName},
            </if>
            <if test="nextProductionPartCode != null">
                #{nextProductionPartCode},
            </if>
            <if test="nextProductionPartName != null">
                #{nextProductionPartName},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="isInvalid != null">
                #{isInvalid},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="auditUser != null">
                #{auditUser},
            </if>
            <if test="auditTime != null">
                #{auditTime},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="CraftMainFrameRoute">
        <!--@mbg.generated-->
        update craft_main_frame_route
        <set>
            <if test="mainFrameRandomCode != null">
                main_frame_random_code = #{mainFrameRandomCode},
            </if>
            <if test="productionPartRandomCode != null">
                production_part_random_code = #{productionPartRandomCode},
            </if>
            <if test="nextProductionPartRandomCode != null">
                next_production_part_random_code = #{nextProductionPartRandomCode},
            </if>
            <if test="productionPartCode != null">
                production_part_code = #{productionPartCode},
            </if>
            <if test="productionPartName != null">
                production_part_name = #{productionPartName},
            </if>
            <if test="nextProductionPartCode != null">
                next_production_part_code = #{nextProductionPartCode},
            </if>
            <if test="nextProductionPartName != null">
                next_production_part_name = #{nextProductionPartName},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="isInvalid != null">
                is_invalid = #{isInvalid},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="auditUser != null">
                audit_user = #{auditUser},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        where random_code = #{randomCode}
    </update>
    <update id="updateByPrimaryKey" parameterType="CraftMainFrameRoute">
        <!--@mbg.generated-->
        update craft_main_frame_route
        set
        main_frame_random_code = #{mainFrameRandomCode},
        production_part_random_code = #{productionPartRandomCode},
        next_production_part_random_code = #{nextProductionPartRandomCode},
        production_part_code = #{productionPartCode},
        production_part_name = #{productionPartName},
        next_production_part_code = #{nextProductionPartCode},
        next_production_part_name = #{nextProductionPartName},
        `status` = #{status},
        is_invalid = #{isInvalid},
        create_user = #{createUser},
        create_time = #{createTime},
        update_user = #{updateUser},
        update_time = #{updateTime},
        audit_user = #{auditUser},
        audit_time = #{auditTime},
        version = #{version}
        where random_code = #{randomCode}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update craft_main_frame_route
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="main_frame_random_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.mainFrameRandomCode}
                </foreach>
            </trim>
            <trim prefix="production_part_random_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.productionPartRandomCode}
                </foreach>
            </trim>
            <trim prefix="next_production_part_random_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.nextProductionPartRandomCode}
                </foreach>
            </trim>
            <trim prefix="production_part_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.productionPartCode}
                </foreach>
            </trim>
            <trim prefix="production_part_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.productionPartName}
                </foreach>
            </trim>
            <trim prefix="next_production_part_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.nextProductionPartCode}
                </foreach>
            </trim>
            <trim prefix="next_production_part_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.nextProductionPartName}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.status}
                </foreach>
            </trim>
            <trim prefix="is_invalid = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.isInvalid}
                </foreach>
            </trim>
            <trim prefix="create_user = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="audit_user = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.auditUser}
                </foreach>
            </trim>
            <trim prefix="audit_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.auditTime}
                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when random_code = #{item.randomCode} then #{item.version}
                </foreach>
            </trim>
        </trim>
        where random_code in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.randomCode}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into craft_main_frame_route
        (random_code, main_frame_random_code, production_part_random_code, next_production_part_random_code,
        production_part_code, production_part_name, next_production_part_code, next_production_part_name,
        `status`, is_invalid, create_user, create_time, update_user, update_time, audit_user,
        audit_time, version)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.randomCode}, #{item.mainFrameRandomCode}, #{item.productionPartRandomCode},
            #{item.nextProductionPartRandomCode}, #{item.productionPartCode}, #{item.productionPartName},
            #{item.nextProductionPartCode}, #{item.nextProductionPartName}, #{item.status},
            #{item.isInvalid}, #{item.createUser}, #{item.createTime}, #{item.updateUser},
            #{item.updateTime}, #{item.auditUser}, #{item.auditTime}, #{item.version})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="CraftMainFrameRoute">
        <!--@mbg.generated-->
        insert into craft_main_frame_route
        (random_code, main_frame_random_code, production_part_random_code, next_production_part_random_code,
        production_part_code, production_part_name, next_production_part_code, next_production_part_name,
        `status`, is_invalid, create_user, create_time, update_user, update_time, audit_user,
        audit_time, version)
        values
        (#{randomCode},#{mainFrameRandomCode}, #{productionPartRandomCode}, #{nextProductionPartRandomCode},
        #{productionPartCode}, #{productionPartName}, #{nextProductionPartCode}, #{nextProductionPartName},
        #{status}, #{isInvalid}, #{createUser}, #{createTime}, #{updateUser}, #{updateTime},
        #{auditUser}, #{auditTime}, #{version})
        on duplicate key update
        random_code = #{randomCode},
        main_frame_random_code = #{mainFrameRandomCode},
        production_part_random_code = #{productionPartRandomCode},
        next_production_part_random_code = #{nextProductionPartRandomCode},
        production_part_code = #{productionPartCode},
        production_part_name = #{productionPartName},
        next_production_part_code = #{nextProductionPartCode},
        next_production_part_name = #{nextProductionPartName},
        `status` = #{status},
        is_invalid = #{isInvalid},
        create_user = #{createUser},
        create_time = #{createTime},
        update_user = #{updateUser},
        update_time = #{updateTime},
        audit_user = #{auditUser},
        audit_time = #{auditTime},
        version = #{version}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="CraftMainFrameRoute">
        <!--@mbg.generated-->
        insert into craft_main_frame_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="randomCode != null">
                random_code,
            </if>
            <if test="mainFrameRandomCode != null">
                main_frame_random_code,
            </if>
            <if test="productionPartRandomCode != null">
                production_part_random_code,
            </if>
            <if test="nextProductionPartRandomCode != null">
                next_production_part_random_code,
            </if>
            <if test="productionPartCode != null">
                production_part_code,
            </if>
            <if test="productionPartName != null">
                production_part_name,
            </if>
            <if test="nextProductionPartCode != null">
                next_production_part_code,
            </if>
            <if test="nextProductionPartName != null">
                next_production_part_name,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="isInvalid != null">
                is_invalid,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="auditUser != null">
                audit_user,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="randomCode != null">
                #{randomCode},
            </if>
            <if test="mainFrameRandomCode != null">
                #{mainFrameRandomCode},
            </if>
            <if test="productionPartRandomCode != null">
                #{productionPartRandomCode},
            </if>
            <if test="nextProductionPartRandomCode != null">
                #{nextProductionPartRandomCode},
            </if>
            <if test="productionPartCode != null">
                #{productionPartCode},
            </if>
            <if test="productionPartName != null">
                #{productionPartName},
            </if>
            <if test="nextProductionPartCode != null">
                #{nextProductionPartCode},
            </if>
            <if test="nextProductionPartName != null">
                #{nextProductionPartName},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="isInvalid != null">
                #{isInvalid},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="auditUser != null">
                #{auditUser},
            </if>
            <if test="auditTime != null">
                #{auditTime},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="randomCode != null">
                random_code = #{randomCode},
            </if>
            <if test="mainFrameRandomCode != null">
                main_frame_random_code = #{mainFrameRandomCode},
            </if>
            <if test="productionPartRandomCode != null">
                production_part_random_code = #{productionPartRandomCode},
            </if>
            <if test="nextProductionPartRandomCode != null">
                next_production_part_random_code = #{nextProductionPartRandomCode},
            </if>
            <if test="productionPartCode != null">
                production_part_code = #{productionPartCode},
            </if>
            <if test="productionPartName != null">
                production_part_name = #{productionPartName},
            </if>
            <if test="nextProductionPartCode != null">
                next_production_part_code = #{nextProductionPartCode},
            </if>
            <if test="nextProductionPartName != null">
                next_production_part_name = #{nextProductionPartName},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="isInvalid != null">
                is_invalid = #{isInvalid},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="auditUser != null">
                audit_user = #{auditUser},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </trim>
    </insert>
    <select id="getByMainFrameRandomCode" parameterType="Long" resultType="CraftMainFrameRoute">
        select * from craft_main_frame_route where ifnull(is_invalid,0)=0 and  main_frame_random_code=#{mainFrameRandomCode} order by id

    </select>
    <select id="getByCondition" resultType="CraftMainFrameRoute">
        select * from craft_main_frame_route
        <where>
            and ifnull(is_invalid,0)=0
            <if test="mainFrameRandomCode != null">
                and main_frame_random_code=#{mainFrameRandomCode}
            </if>
            <if test="keywords != null and keywords != ''">
                and (production_part_code like concat('%', #{keywords},'%')
                or production_part_name like concat('%',#{keywords},'%')
                or next_production_part_code like concat('%',#{keywords},'%')
                or next_production_part_name like concat('%',#{keywords},'%'))
            </if>
            <if test="beginDate != null">
                <![CDATA[   and DATE_FORMAT(update_time, '%Y-%m-%d')>=DATE_FORMAT(#{beginDate}, '%Y-%m-%d')   ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[   and DATE_FORMAT(update_time, '%Y-%m-%d')<=DATE_FORMAT(#{endDate}, '%Y-%m-%d')   ]]>
            </if>
        </where>
        order by id desc
    </select>
    <select id="getByMainFrameCode" resultType="com.ylzs.entity.craftmainframe.CraftMainFrameRoute">
        select a.* from craft_main_frame_route a inner join craft_main_frame b on a.main_frame_random_code=b.random_code
            where ifnull(a.is_invalid,0)=0 and b.main_frame_code=#{mainFrameCode}
    </select>
</mapper>